{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

    {% if user.is_authenticated == False %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <hr class="my-4">
        <p>Sign up or Login below.</p>
        <p class="lead">
            <div class="row">
                <a class="btn btn-success btn-lg mr-3" href="{% url 'signup' %}" role="button">Sign Up</a>
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
            </div>
        </p>
    </div>
    {% endif %}

    <div class="text-center">
        {% for book in books %}

        <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-auto text-center  mx-auto d-block">
                        <img src="{{ book.photo.url }}" class="img-fluid" style="width: 15rem;height: 22rem;" alt=" {{ book.title }} ">
                    </div>
                    <div class="col-sm card">
                            <div class="card-body text-left">
                                <h4 class="card-title">{{book.title}}</h4>
                                <p class="card-text"><small> By {{book.author}}, {{ book.genre }}</small></p>
                                <h6 class="card-title">Synopsis</h6>
                                <p class="card-text"><small> {{book.bookDescription}}</small></p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text text-left"><small class="text-left font-muted">Published on {{ book.datePublished }} by {{ book.publisher }}</small></p> 
                            </div>
                    </div>
                </div>
          </div>

        {% endfor %}
    </div>


</div>

{% endblock content %}
