


{% extends 'base.html' %}

{% block content %}

<h1>Welcome!</h1>

{% if emptycart %}

<h2>Your cart is empty :(</h2>

{% else %}

<h3>Items in your cart:</h3>
<p></p>

    <table class='table'>
        
            {% for book in nonemptycart.items.all %}
            <tr>
            <td><h4><font color="green"> {{book}} </h4></font> <b>Author:</b> {{book.author}}</td>
            <td>Quantity: 1</td>
            <td><b>Price:</b> $ {{book.price}}</td>
            <td><a href="{% url 'removefromcart' book.id %}">Remove</a></td>
            </tr>
            {% endfor %} 

    </table>

<p></p>

<h4 align="right"><font color="green">Total:</font> $ {{nonemptycart.total}}</h4>

{% endif %}

{% endblock %}
