{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/review-style.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Optional JavaScript -->
        <script>
            $( document ).ready(function() {
                $('#modal').modal('show')
            });
        </script>

        <!--Icon-->
        <link rel="icon" href="{% static 'images/icon.png' %}">

        {% if title %}

            <title>GeekText - {{ title }}</title>     
        
        {% else %}

            <title>GeekText</title>

        {% endif %}

	<style type="text/css">
	<!--
 	.tab { margin-left: 40px; }
	-->
	</style>


    </head>

    <body>

        <img class="img-fluid" style="width: 100%;height: auto;" src="{% static 'images/books.jpg' %}" alt="Card image">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

            <a class="navbar-brand" href="{% url 'bookstore-home' %}"><img src="{% static 'images/logoSmall.png' %}"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle border border-warning" src="{{ user.profile.profilePic.url }}" width="30" height="30" alt="">
                             {{ user.username }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'wishlists' %}">Wishlist</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                    {% else  %}
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
                            </div>
                    </li>
                    {% endif  %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bookstore-books' %}">Books</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                    </li>
                    {% endif %}
                </ul>

            </div>

        </nav>

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <!-- Modal -->
                    <div id="modal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">{{message.tags}}!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                {{message}}
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                            </div>
                        </div>
                {% endfor %}

            {% endif %}
            
            {% block content %}
            {% endblock content %}
        </div>
	</div>
	</div>



        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Optional JavaScript -->
        <script>
            $( document ).ready(function() {
                $('#modal').modal('show')
            });
        </script>
    </body>
    
</html>
