{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!--Icon-->
        <link rel="icon" href="{% static 'images/icon.png' %}">

        {% if title %}

            <title>GeekText - {{ title }}</title>     
        
        {% else %}

            <title>GeekText</title>

        {% endif %}

    </head>

    <body>

        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">

                <a class="navbar-brand" href="{% url 'bookstore-home' %}"><img src="{% static 'images/logoSmall.png' %}"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bookstore-books' %}">Books</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                        </li>

			<li class="nav-item">
                            <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
                        </li>

                    </ul>

                </div>
            </nav>

            <div class="card bg-dark text-white mb-3 mt-3">
                <img class="card-img" src="{% static 'images/books.png' %}" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-title">Team 7 Bookstore</h1>
                    <p class="card-text">
                        {% if title %}
                            {{ title }}                 
                        {% else %}
                            GeekText
                        {% endif %}
                    </p>

                </div>
            </div>

            {% block content %}

            {% endblock content %}

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
    </body>
    
</html>
