{% extends 'base.html'%}
{% block content %}

    <ul class="list-group"></ul>

        {% for book in posts %}

            <li class="list-group-item">
                <span class="font-weight-bold">
                    {{ book.title }}
                </span>

                by {{ book.author }} 
                
                <small class="text-right font-weight-light">
                    Published on {{ book.datePublished }}
                </small>
                <form action="/create-review">
                    <input type="submit" name="Create Customer Review" value="Create Customer Review"></input>
                </form> 
            </li>

        {% endfor %}

    </ul>
    
{% endblock content %}