{% extends 'base.html'%}
{% block content %}

    <div class="row justify-content-md-center">
        <div class="col col-lg-4">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                </div>
                <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>

        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <button type="button" class="btn btn-primary ">Log In</button>
        </div>
        <div class="col col-lg-2">
            <button type="button" class="btn btn-success">Sign Up</button>
        </div>
    </div>

{% endblock content %}