{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1>Profile</h1>
        <div class="card mb-3">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-fluid" src="{{ user.profile.profilePic.url }}" alt="Card image cap">
                </div>
                <div class="col-lg-9">
                    <div class="card-body">
                        <h4>{{ user.username }}</h4>
                        <p>Email: {{ user.email }}</p>
                        <p>Name: {{ user.first_name}} {{user.last_name}}</p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Edit profile
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card collapse mb-3" id="collapseExample">
            <div class="card-body">
                <form method="POST" endctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="from-group">
                        <legend>Edit Profile Info</legend>
                            {{ accUpdateForm|crispy }}
                            {{ proUpdateForm|crispy }}
                            <button class="btn btn-success mb-3" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}